default:
    suites:
        model:
            contexts:
                - features\contexts\App\ModelContext:
                    dm: '@doctrine_phpcr.odm.default_document_manager'
        ui:
            contexts:
                - features\contexts\App\UIContext:
                    kernel: '@kernel'
                    dm: '@doctrine_phpcr.odm.default_document_manager'

    gherkin:
        cache: var/cache/behat/gherkin
        filters:
            tags: '~@wip'

    testers:
        rerun_cache: var/cache/behat/rerun
        strict: true

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
