default:
    suites:
        model:
            contexts:
                - features\contexts\App\FixturesContext:
                    dm: '@doctrine_phpcr.odm.default_document_manager'
                - features\contexts\App\PagesContext:
                    dm: '@doctrine_phpcr.odm.default_document_manager'
        ui:
            contexts:
                - features\contexts\App\FixturesContext:
                    dm: '@doctrine_phpcr.odm.default_document_manager'
                - features\contexts\App\WebPagesContext:
                    kernel: "@kernel"
                - features\contexts\App\WebMenuContext:
                    kernel: "@kernel"

    gherkin:
        cache: var/cache/behat/gherkin
        filters:
            tags: '~@wip'

    testers:
        rerun_cache: var/cache/behat/rerun
        strict: true

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
                env: test
                debug: true
